<header>
  <div class="inner">
  </div>
  <div class="flexslider" style="width:940px;margin: 0px auto;background-color:transparent">
    <ul class="slides">
      <li class="slides">
        <a href="http://codecph.eventbrite.com"><img src="/cph14/images/TopName.jpg"/></a>
      </li>
      <li class="slides">
        <a href="/cph14/social/tweets.html"><img src="/cph14/images/TopHastag.jpg"/></a>
      </li>
      <!--li class="slides">
        <a href="/sponsors/"><img src="/cph14/images/TopSponsors.png"/></a>
      </li-->
    </ul>
  </div>
</header>

<div class="menubar">
  <div class="inner">
    <a class="menu" href="/cph14/">CoDe CPH</a>
    <a class="menu" href="/cph14/agenda">Agenda</a-->
    <a class="menu" href="/cph14/program">Program</a>
    <a class="menu" href="/cph14/speakers">Speakers</a>
    <a class="menu" href="/cph14/sponsors">Sponsors</a>
    <a class="menu" href="/cph14/misc">The rest...</a>
  </div>
</div>
