<!DOCTYPE html>
<html>

  {%include head.html%}

  <body>

    {%include banner.html%}

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
        
          {{ content }}
        
        </section>

        <aside id="sidebar">
        
          <div class="darkbox">
            <h1>LOCATION</h1>
            Hotel Marriot<br>
            Kalvebod brygge 1<br>
            DK-1111 København K          
            <hr>
            <h1>DATE</h1>
            October 22<sup>nd</sup> 2014
            <hr>
            <h1>TIME</h1>
            9:00 - 17:00
          
          </div>
          
          test
          
          <div class="darkbox">
          
          social
          
          </div>
          
          {%include social.html%}
          
          <div> testing</div>
          
          
          {%include register.html%}
        </aside>
        
      </div>
    </div>
  </body>
</html>
